<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Wellnes Lab En Forma</title>
    <link href="~/Content/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/calendar/bootstrap-datepicker3.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/jquery/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/datatables/bootstrap-grid.css" rel="stylesheet" />
    <link href="~/Content/datatables/ui.jqgrid-bootstrap.css" rel="stylesheet" />
    <link href="~/Content/notifications/sweetalert2.css" rel="stylesheet" />
    <script src="~/Scripts/js/utils/datatables/jszip.min.js"></script>
    <script src="~/Scripts/js/jquery/jquery.js"></script>
    <script src="~/Scripts/js/bootstrap/popper.js"></script>
    <script src="~/Scripts/js/bootstrap/bootstrap.js"></script>
    <script src="~/Scripts/js/utils/calendar/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/js/utils/locales/bootstrap-datepicker.es.min.js"></script>
    <script src="~/Scripts/js/utils/locales/grid.locale-es.js"></script>
    <script src="~/Scripts/js/utils/datatables/jquery.jqGrid.js"></script>
    <script src="~/Scripts/js/notifications/sweetalert2.all.min.js"></script>
    <script src="~/Scripts/js/utils/pdf/pdfmake.min.js"></script>
    <script src="~/Scripts/js/utils/pdf/vfs_fonts.js"></script>
    <script src="~/Scripts/js/utils/datatables/jquery.jqGrid.min.js"></script>
    <link href="~/Content/select/bootstrap-select.css" rel="stylesheet" />
    <script src="~/Scripts/js/select/bootstrap-select.js"></script>
    <script src="~/Scripts/js/select/i18n/defaults-es_ES.js"></script>
    <script src="~/Scripts/Application/utils/checkSession.js"></script>
    <script>
        $(function () {
            $('[data-toggle="popover"]').popover();
        })
    </script>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top mb-5">
        <a class="navbar-brand" href="~/">Wellness Lab en Forma</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                @* Menu principal, Página Pricipal*@
                <li class="nav-item active">
                    <a class="nav-link" href="~/">
                        <img src="~/Content/icons/baseline-home-white-18/1x/baseline_home_white_18dp.png" />Inicio
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                @* Menu Socios-> Ver Socios*@
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="~/Content/icons/baseline-person-white-18/1x/baseline_person_white_18dp.png" />Socios
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="~/Socio/Index">
                            <img src="~/Content/icons/baseline-person-white-18/baseline-person-24px.svg" />
                            Ver socios
                        </a>

                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="~/HistorialMedico/Index">
                            <img src="~/Content/icons/baseline-history-white-18/baseline-history-24px.svg" />
                            <img src="~/Content/icons/baseline-assignment_turned_in-white-18/baseline-assignment_turned_in-24px.svg" />
                            Historial de Medico
                        </a>
                        <a class="dropdown-item" href="~/HistorialFisico/Index">
                            <img src="~/Content/icons/baseline-history-white-18/baseline-history-24px.svg" />
                            <img src="~/Content/icons/baseline-assignment_turned_in-white-18/baseline-assignment_turned_in-24px.svg" />
                            Historial de Fisico
                        </a>
                        <a class="dropdown-item" href="~/SocioMembresia/">
                            <img src="~/Content/icons/baseline-history-white-18/baseline-history-24px.svg" />
                            <img src="~/Content/icons/baseline-timer-white-18/baseline-timer-24px.svg" />
                            Socio Membresia
                        </a>
                    </div>
                </li>

                @if (@Session["UserRol"] != null && @Session["UserRol"].ToString() == "1")
                {
                    @* Menu Empleados*@
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="~/Content/icons/baseline-supervised_user_circle-white-18/1x/baseline_supervised_user_circle_white_18dp.png" />Administración
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="~/Empleado/">
                                <img src="~/Content/icons/baseline-supervised_user_circle-white-18/baseline-supervised_user_circle-24px.svg" />
                                <img src="~/Content/icons/baseline-list-white-18/baseline-list-24px.svg" />
                                Empleados
                            </a>
                            <a class="dropdown-item" href="~/Usuario/">
                                <img src="~/Content/icons/baseline-supervised_user_circle-white-18/baseline-supervised_user_circle-24px.svg" />
                                <img src="~/Content/icons/baseline-list-white-18/baseline-list-24px.svg" />
                                Usuarios
                            </a>
                        </div>
                    </li>
                    @* Menu paquetes*@
                    <li class="nav-item">
                        <a class="nav-link" href="~/Paquete/">
                            <img src="~/Content/icons/baseline-folder-white-18/1x/baseline_folder_white_18dp.png" />Paquetes
                        </a>
                    </li>


                    @*<li class="nav-item">
                            <a class="nav-link" href="~/Empleado/">
                                <img src="~/Content/icons/baseline-supervised_user_circle-white-18/1x/baseline_supervised_user_circle_white_18dp.png" />Empleados
                            </a>
                        </li>*@
                }

                @* Menu Socios-> Pagos*@
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="~/Content/icons/baseline-attach_money-white-18/1x/baseline_attach_money_white_18dp.png" />Pagos
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="~/Pago/">
                            <img src="~/Content/icons/baseline-attach_money-white-18/baseline-attach_money-24px.svg" />
                            <img src="~/Content/icons/baseline-folder-white-18/baseline-folder-24px.svg" />
                            Pago de paquete
                        </a>
                        <a class="dropdown-item" href="~/ReportePago/">
                            <img src="~/Content/icons/baseline-history-white-18/baseline-history-24px.svg" />
                            <img src="~/Content/icons/baseline-attach_money-white-18/baseline-attach_money-24px.svg" />
                            Reporte de Pagos
                        </a>
                    </div>
                </li>
                @* Menu Socios-> Historial*@
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="~/Content/icons/baseline-card_membership-white-18/1x/baseline_card_membership_white_18dp.png" />Historial de Asistencia
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="~/ReporteChecadorSocio/">
                            <img src="~/Content/icons/baseline-history-white-18/baseline-history-24px.svg" />
                            <img src="~/Content/icons/baseline-assignment_turned_in-white-18/baseline-assignment_turned_in-24px.svg" />
                            Socios
                        </a>
                        <a class="dropdown-item" href="~/ReporteChecadorEmpleado/">
                            <img src="~/Content/icons/baseline-history-white-18/baseline-history-24px.svg" />
                            <img src="~/Content/icons/baseline-assignment_turned_in-white-18/baseline-assignment_turned_in-24px.svg" />
                            Empleados
                        </a>
                    </div>
                </li>
                @* Menu Socios-> Historial*@
                @if (@Session["UserRol"] != null && @Session["UserRol"].ToString() == "1")
                {
                    <li class="nav-item">
                        <a class="nav-link" href="../catinventario/">
                            <img src="~/Content/icons/baseline-list-white-18/1x/baseline_list_white_18dp.png" />Inventario
                        </a>
                    </li>
                }
                @* <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="~/Content/icons/baseline-timer-white-18/1x/baseline_timer_white_18dp.png" /> Checadores
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="../CheckPartner/">
                                <img src="~/Content/icons/baseline-timer-white-18/baseline-timer-24px.svg" />
                                <img src="~/Content/icons/baseline-person-white-18/baseline-person-24px.svg" />
                                Socios
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="../Check/">
                                <img src="~/Content/icons/baseline-timer-white-18/baseline-timer-24px.svg" />
                                <img src="~/Content/icons/baseline-supervised_user_circle-white-18/baseline-supervised_user_circle-24px.svg" />
                                Empleados
                            </a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../Membership/">
                            <img src="~/Content/icons/baseline-card_membership-white-18/1x/baseline_card_membership_white_18dp.png" />Membresias
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="~/Content/icons/baseline-attach_money-white-18/1x/baseline_attach_money_white_18dp.png" />
                            Ventas
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="../Product">
                                <img src="~/Content/icons/baseline-widgets-white-18/baseline-widgets-24px.svg" />
                                Catálogo de productos
                            </a>
                            <a class="dropdown-item" href="../Sale">
                                <img src="~/Content/icons/baseline-shopping_cart-white-18/baseline-shopping_cart-24px.svg" />
                                Realizar venta
                            </a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="~/Content/icons/baseline-insert_chart-white-18/1x/baseline_insert_chart_white_18dp.png" /> Reportes
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="../Report/PaymentReport">
                                <img src="~/Content/icons/baseline-attach_money-white-18/baseline-attach_money-24px.svg" />Pagos
                            </a>
                            <a class="dropdown-item" href="../Report/VisitReport">
                                <img src="~/Content/icons/baseline-assignment_turned_in-white-18/baseline-assignment_turned_in-24px.svg" />Asistencia de Socios
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="../Report/StockReport">
                                <img src="~/Content/icons/baseline-list-white-18/baseline-list-24px.svg" />
                                Inventario
                            </a>
                            <a class="dropdown-item" href="../Report/ManteReport">
                                <img src="~/Content/icons/baseline-history-white-18/baseline-history-24px.svg" />
                                Mantenimiento
                            </a>
                            <a class="dropdown-item" href="../Report/SalesReport">
                                <img src="~/Content/icons/baseline-attach_money-white-18/baseline-attach_money-24px.svg" />
                                Ventas
                            </a>
                        </div>
                    </li>*@
            </ul>
        </div>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="../Login">Cerrar Sesión <span id="user"></span></a>
                    @*<a class="nav-link" onclick="@("window.location.href='" + @Url.Action("Logout", "Home") + "'");">Cerrar Sesión <span id="user"></span></a>*@
                    @*<a class="nav-link"  href='@Url.Action("Logout", "Home")'>
                            Cerrar Sesión <span id="user"></span>
                        </a>*@
                </li>
            </ul>
        </div>
    </nav>
    <br /><br /><br />
    <div class="container-fluid">
        @RenderBody()
    </div>
    <script src="~/Scripts/Application/Validation.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
<script>



    @*$(document).ready(function () {
       // $('#user').text(User);
        checkStatus();
        //var User = "@HttpContext.Current.Session["User"].ToString()";
    });*@

</script>
